/* CSS Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;

}


body {
	background: #E4F9F5;
	overflow: auto;

}

/* Navigation Bar */
nav {
	font-family: 'Montserrat', sans-serif;
	color: #11999E;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
	color: #40514E;
	font-weight: 300;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #11999E;
}
.logo{
	color: #11999E;
}

/* Title Page */

.container-fluid {
	padding: 3% 10%;
}

.man-sitting{
	width: 80%;
}

h1{
	color: #067f91;
	font-family: 'Baloo Chettan 2', cursive;
	font-size: 8rem;
	font-weight: 500;
}	

h1 + p{
	color: #067f91;
	font-family: 'Baloo Chettan 2', cursive;
	font-size: 1.5rem;
}
h3 {
	color: #067f91;
	font-family: 'Baloo Chettan 2', cursive;
	font-size: 3rem;
	font-weight: 500;
}

.man-sitting{
	width: 900px;
	height: 100%;
	margin-top: -50px;
}

/* Bubble Effect */

.bubbles{
	position: absolute;
	width: 100%;
	height: 150%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
	background: transparent;
}
.bubble{
	position: absolute;
	bottom: 0;
	background: radial-gradient( #fff,#666666);
	border-radius: 50%;
	opacity: 0.4;
	animation: flying 10s infinite ease-in;
}
.bubble:nth-child(1){
	width: 40px;
	height: 40px;
	left: 10%;
	animation-duration: 8s;
}
.bubble:nth-child(2){
	width: 20px;
	height: 20px;
	left: 20%;
	animation-duration: 5s;

}
.bubble:nth-child(3){
	width: 50px;
	height: 50px;
	left: 35%;
	animation-duration: 5s;

}
.bubble:nth-child(4){
	width: 80px;
	height: 80px;
	left: 50%;
	animation-duration: 10s;

}
.bubble:nth-child(5){
	width: 35px;
	height: 35px;
	left: 55%;
	animation-duration: 6s;

}
.bubble:nth-child(6){
	width: 45px;
	height: 45px;
	left: 40%;
	animation-duration: 8s;

}
.bubble:nth-child(7){
	width: 25px;
	height: 25px;
	left: 75%;
	animation-duration: 7s;

}
.bubble:nth-child(8){
	width: 80px;
	height: 80px;
	left: 80%;
	animation-duration: 6s;

}
.bubble:nth-child(9){
	width: 15px;
	height: 15px;
	left: 70%;
	animation-duration: 9s;

}
.bubble:nth-child(10){
	width: 40px;
	height: 40px;
	left: 25%;
	animation-duration: 5s;

}
/* Animation for Bubble Effect */
@keyframes flying{
	0%{
		bottom: 130px;
		transform: translateX(0);
	}
	50%{
		transform: translateX(100px);
	}
	100%{
		bottom: 1480px;
		transform: translateX(-200px);
	}
}

/*About Me*/
#about-me{
	background: rgb(17,153,158);
	background: linear-gradient(180deg, rgba(17,153,158,1) 95%, rgba(228,249,245,0.5) 100%);
	color: #fff;
}

#about-me h3{
	font-family: 'Poppins', sans-serif;
	color: #fff;
	font-weight: 500;
}

.about-content p{
	font-family: 'Poppins', sans-serif;
	line-height: 1.3rem;
	letter-spacing: .1rem;
	font-weight: lighter;
}
.tools{
	margin-top: 5%;
	border-bottom: 0.5px solid rgba(48,227,202,0.5);
}

/* Timeline */

.timeline-container {
	max-width:  1080px;
	margin: 50px auto;
	padding: 0 20px;
	position: relative;
}

.timeline-container .center-line {
	position: absolute;
	height: 100%;
	width: 4px;
	background: #11999E;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
}

.fas {
	cursor: pointer;
	transition: all .3s ease;
}
.fas:hover{
	transition: all .5s ease;
	transform: scale(1.2);
}

.center-line {
	height: 89%!important;
}

.timeline-container .date {
	display: flex;
	justify-content: flex-start;
}

.timeline-container .date-1{
	justify-content: flex-start;
}

.timeline-container .date-2{
	justify-content: flex-end;
}

.timeline-container .date section {
	background: white;
	border-radius: 5px;
	width: calc(50% - 40px);
	padding: 20px;
	position: relative;
}

.timeline-container .date section::before{
	position: absolute;
	content:  "";
	height: 15px;
	width: 15px;
	background: #fff;
	top: 28px;
	z-index: -1;
	transform: rotate(45deg);

}

.date-1 section::before{
	right: -7px;
}
.date-2 section::before{
	left: -7px;
}

.date section .icon,
.center-line .scroll-icon {
	position: absolute;
	background: #f2f2f2;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #11999E;
	font-size: 17px;
	box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.06);
}

.date-1 section .icon{
	top: 13px;
	right: -60px;
}
.date-2 section .icon{
	top: 13px;
	left: -60px;
}

.date section .details,
.date section .bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.date section .details .title{
	font-size: 22px;
	font-weight: 600;
}

.date section p{
	margin: 10px 0 17px 0;
}

.title, .title ~ span{
	color: #40514E;
	font-family: 'Poppins', sans-serif;
}

.details ~ p{
	color: #11999E;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	font-weight: 300;
}

/*Projects */

#project{
	background: #fff;
	padding-top: 5%;
}

.projects:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}

.proj-content{
	height: 31rem;
}

.project-title{
	color: #40514E;
}

.proj-card-detail{
	color: #11999E;
}

.img-proj{
	width: 100%;
	height: 82%;
	background-image: url(./image/TBA.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	transition: transform .5s ease;
	cursor: pointer;
}

.img-proj:hover{
	transform: scale(1.05);
}

.overlay{
	height: 100%;
	background-color: black;
	opacity: 0.5;
}
.carousel-details{
	font-family: 'Montserrat', sans-serif;
}

.carou-n-h3{
	margin-top: 5%!important;
}

/* Footer */

.footer-content{
	background: #11999E;
}

.jump-to{
	list-style-type: none;
}

.jump-to a{
	text-decoration: none;
	color: #40514E;
}

.jump-to a:hover{
	color: #E4F9F5;
	text-decoration: none;
}

.jump-title{
	color: #E4F9F5;
}

.footer-links{
	padding-bottom: 50px;
}
.footer-links ul{
	list-style-type: none;
}

.fab {
	color: #E4F9F5;
	margin-top: 50%;
}

.email-me{
	color: #fff;
}

.my-email{
	text-decoration-style: none;
	color: #E4F9F5;
	margin-bottom: 5%;
}

.my-email:hover{
	color: #bcd1cd;
	text-decoration: none;
}

.btn-outline-secondary{
	font-family: 'Montserrat', sans-serif;
	border-color: #11999E;
	background-color: #E4F9F5;
	color: #40514E;
	border-radius: 1.2rem;
}
.btn-outline-secondary:hover{
	background: #11999E;
	border-color: #fff;
	color: #E4F9F5 ;
}

/* Botton to Top */

#bt-top{
	position: fixed;
	right: 20px;
	bottom: 20px;
	font-size: 2rem;
	width: 4rem;
	height: 4rem;
	color: #E4F9F5;
	background: #40514E;
	border-radius: 50%;
	border-color: transparent;
	cursor: pointer;
	opacity: .4;
}

#bt-top:hover{
	opacity: 100%;
}

#bt-top a{
	color: inherit;
}

/* Copyright */
.footer-copy{
	background: #40514E;
	color: #11999E;
	font-weight: 500;
}

@media(max-width: 772px){
	.timeline-container .center-line{
		left: 40px;
	}
	.timeline-container .date{
		margin: 30px 0 3px 60px;
	}
	.timeline-container .date section {
		width: 100%;
	}
	.date-1 section::before{
		left: -7px;
	}
	.date-1 section .icon{
		left: -60px;
	}
}

@media(max-width: 440px){
	.timeline-container .center-line,
	.date section::before,
	.date section .icon{
		display: none;
	}
	.timeline-container .date{
		margin: 10px 0;
	}
}

@media(max-width: 500px){
	.project-detail{
		display: none!important;
	}
}


/* Scrollbar */

::-webkit-scrollbar {
	background: #E4F9F5;
	width: 12px;
}

::-webkit-scrollbar-track {
	border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #11999E;
}

::-webkit-scrollbar-thumb:hover{
	background: #40514E;
}